/*footer design*/
.footer {
  position: fixed;
  padding: 20px 0;
  height: 60px;
  font-size: 14px;
  transition: all 0.3s;
  /*border-top: 1px solid #cddfff;*/
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #F2F2F2;
}
.footer .copyright {
  text-align: center;
  color: #012970;
  font-size: 16px;
}
.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  color: #012970;
}

/*textarea word count*/
#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}

/*btn-sm design modification*/
.btn-sm, .btn-group-sm > .btn {
    padding: 0.1rem 0.3rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}